<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css" />
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <section class="hero is-large is-dark is-bold">
    <div class="hero-head">
      <nav class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="/"><img src="images/logo.png">Cyclone</a>
          </div>
          <div class="nav-right nav-menu">
            <div class="nav-item">
              <div class="field is-grouped">
                <p class="control">
                  <a class="button is-primary is-outlined is-inverted" href="/auth">
                  <span class="icon">
                    <i class="fa fa-sign-in"></i>
                  </span>
                  <span>Login</span>
                </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-1">
          Cyclone
        </h1>
        <h4 class="subtitle is-4">
          Subtitle
        </h4>
      </div>
    </div>
  </section>
</body>

</html>